* {
  margin: 0;
}
.intro {
  background-color: #102026;
  height: 375px;
}
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #A9C5E6;
}
.description {
  color: #A9C5E6;
  margin-left: 25px;
  margin-right: 25px;
}
.download {
  background-color: #807d74;
  height: 305px;
}
h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  text-align: center;
}
.app {
  text-align: center;
}
footer {
  background-color: black;
  height: 75px;
}
.copyright {
  padding-top: 15px;
  color: #807d74;
}
