* {
  margin: 0;
}
.intro {
  background-color: white; // #102026;
  height: 225px;
}
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black; // #A9C5E6;
}
.description {
  color: black; // #A9C5E6;
  margin-left: 25px;
  margin-right: 25px;
}
.register {
  background-color: white; // #807d74;
  background-color: white;
  height: 225px;
  text-align: center;
}
.download {
  height: 225px;
  text-align: center;
  background-color: white; // #a8d8f2;
}
h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
footer {
  background-color: white;
  height: 75px;
}
.copyright {
  color: black; // #807d74;
}
