doctype html
html(lang="en")
  head
    link(href='/stylesheet/style.css', rel='stylesheet')
    title ender
  body
    div.intro
      h1 ender
      p.description Ender is a collaborative learning management system and software development kit providing services to gamify curriculum and combine the large scale of technology with one-on-one interaction.
    div.register
      h2 Sign up
  footer
    p.copyright Copyright ©2017 Ender, Inc.
