doctype html
html(lang="en")
  head
    link(href='/stylesheet/style.css', rel='stylesheet')
    title Ender
  body
    h1 Ender
    p Ender is a collaborative learning management platform and SDK providing services to gamify curriculum and combine the large scale of technology with one-on-one interaction.
